extends adminlayout

block content
    #container
        h1. 
            Song List
        #primary
            p this is the sidebar
        #content
        
        
            ul 
            each song, i in library
                li=song.songtitle
                    ul
                        li=song.artist
                        li=song.url
                        li=song._id
                        li
                            a(href="/edit/"+song._id)="edit"
                            ="  "
                            a(href="/delete/"+song._id)="delete"
        #secondary
            p and another sidebar
        #footer
            ul
                li 
                    a(href="/")="Home" 
                li
                    a(href="/newsong")= "Add Track"